{% extends 'base.html.twig' %}


  {% block encabezado %}
    <header>
      <h1><div class="container-fluid">
        <img src="imagenes/encabezadocat.jpg" alt="">
      </div></h1>
    </header>
  {% endblock %}
     

{% block titulo_contenido %}
    {{ parent() }}
    <small>Categorías de mis productos</small>
{% endblock %}

{% block contenido %}
    <table class="table table-striped">
      <tr>
        <th>Categorías de Productos</th>
      <tr>
        {% for categoria in categorias %}
        <tr>
          <td>
            <a href="index.php?c=categoriasController.php&idCat={{ categoria.idCat }}">
              {{ categoria.nombreCat }}
            </a>
            {% if session.conectado %}
              -
              <a href="#">
                <span class="glyphicon glyphicon-pencil" title="Modificar categoria" style="color: green;"></span>
              </a>
              -
              <a href="#">
                <span class="glyphicon glyphicon-trash" title="Borrar categoria" style="color: red;"></span>
              </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}






