{% extends 'base.html.twig' %}

  {% block encabezado %}
    <header>
      <h1><div class="container-fluid">
        <img src="imagenes/encabezadocat.jpg" alt="">
      </div></h1>
    </header>
  {% endblock %}

{% block titulo_contenido %}
    {{ parent() }}
    <small>mostrando una única categoria de productos</small>
{% endblock %}


{% block contenido %}

  <article>
    <header>
      <h3>{{ categoria.nombreCat }}</h3>
    </header>
    <section>
      {{ categoria.descripcionCat }}
    </section>
    -
    <footer>
      
    </footer>
    
  </article>

{% endblock %}




