{% extends 'base.html.twig' %}

{% block encabezado %}
    <header>
      <h1><div class="container-fluid">
        <img src="imagenes/encabezadoblog.jpg" alt="">
      </div></h1>
    </header>
  {% endblock %}

{% block titulo_contenido %}
    {{ parent() }}
    <small>entradas de mi blog</small>
{% endblock %}

{% block contenido %}
    <table class="table table-striped">
      <tr>
        <th>Listado Titulos de Posts</th>
      <tr>
        {% for entrada in entradas %}
        <tr>
          <td>
            <a href="{{ entrada.url }}">
              {{ entrada.titulo }}
            </a>
          </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}






