{% extends 'base.html.twig' %}

{% block encabezado %}
    <header>
      <h1><div class="container-fluid">
        <img src="imagenes/encabezadoblog.jpg" alt="">
      </div></h1>
    </header>
  {% endblock %}

{% block titulo_contenido %}
    {{ parent() }}
    <small>mostrando una única entrada del blog</small>
{% endblock %}

{% block contenido %}

  <article>
    <header>
      <h3>{{ entrada.titulo }}</h3>
    </header>
    <section>
      {{ entrada.contenido }}
    </section>
    -
    <footer>
      {{ entrada.fecha }} - {{ entrada.autor }}
    </footer>
    
  </article>

{% endblock %}




