{% extends 'base.html.twig' %}

{% block encabezado %}
    <header>
      <h1><div class="container-fluid">
        <img src="imagenes/encabezado.jpg" alt="">
      </div></h1>
    </header>
  {% endblock %}



{% block titulo_contenido %}
    {{ parent() }}
    <small>Inicio de mi web</small>
{% endblock %}

{% block contenido %}
  
    <div class="panel panel-success text-center">
        <h2><strong>Productos Destacados</strong></h2>
    
      <div class="panel panel-body">
        {% for producto in productos %}
         <div class="col-lg-4">
            <img class="img-circle" src="imagenes/{{ producto.imagen }}" alt="Generic placeholder image" width="240" height="240">
            <h3 class="text-center">
            <a href="{{ producto.url }}">
                  {{ producto.nombreProd }} 
            </a>
            </h3>
            <p>{{ producto.descripcionProd }}</p>
            <p><a class="btn btn-primary center" href="{{ producto.url }}" role="button">Ver detalles »</a></p>
          </div>
        {% endfor %}
      </div>
    </div>
  <br>
  <br> 

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <table class="table table-striped">
      <tr>
        <th class="text-center">Noticias Destacadas</th>
      </tr>
        {% for entrada in entradas %}
        <tr>
          <td>
            <a href="{{ entrada.url }}">
              {{ entrada.titulo }}
            </a>
          </td>
        </tr>
        {% endfor %}
    </table>
  </div>  
  
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <table class="table table-striped">
      <tr>
        <th class="text-center">C. Deportivos Cercanos</th>
      </tr>
        {% for elcentro in loscentros %}
        <tr>
          <td>
            <a href="index.php?c=deportivosController.php&id={{ elcentro.id }}">
              {{ elcentro.nombre }}
            </a>
          </td>
        </tr>
        {% endfor %}
    </table>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <table class="table table-striped">
      <tr>
        <th class="text-center">Monumentos Vistosos</th>
      </tr>
        {% for elmonumento in losmonumentos %}
        <tr>
          <td>
            <a href="index.php?c=monumentosController.php&id={{ elmonumento.id }}">
              {{ elmonumento.nombre }}
            </a>
          </td>
        </tr>
        {% endfor %}
    </table>
  </div>    

{% endblock %}






