{% extends 'base.html.twig' %}

{% block encabezado %}
    <header>
      <h1><div class="container-fluid">
        <img src="imagenes/encabezadopro.jpg" alt="">
      </div></h1>
    </header>
  {% endblock %}

{% block titulo_contenido %}
    {{ parent() }}
    <small>mostrando un único producto de la web</small>
{% endblock %}


{% block contenido %}

  <article>
    <header>
      <h3>{{ producto.nombreProd }} - {{ producto.categoria}}</h3>
    </header>
    <section>
      {{ producto.descripcionProd }}
    </section>
    -
    <footer>
      Precio: {{ producto.precioProd }} € - Stock: {{ producto.unidadesProd }} - Disponible desde: {{ producto.fechaAlta|date('d/m/Y') }}
    </footer>
    
  </article>

{% endblock %}




