{% extends 'base.html.twig' %}

{% block encabezado %}
    <header>
      <h1><div class="container-fluid">
        <img src="imagenes/encabezadopro.jpg" alt="">
      </div></h1>
    </header>
  {% endblock %}



{% block titulo_contenido %}
    {{ parent() }}
    <small>productos de mi web</small>
{% endblock %}

{% block contenido %}
    <table class="table table-striped">
      <tr>
        <th>Listado de Productos</th>
      <tr>
        {% for producto in productos %}
        <tr>
          <td>
            <a href="{{ producto.url }}">
              {{ producto.nombreProd }}
            </a>
          </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}






